body {
}

.navbar {
    margin-bottom: 20px;
}

.container {
    width: 90%;
}

.box {
    border: 1px solid red;
}

hr {
    border: none;
    height: 1px;
    color: #0f0f0f;
    background-color: #0f0f0f;
}

.home-headline {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    color: white;
    margin: auto;
    text-align: center;
    margin-top: -13px;
}

.home-headline span {
    background: #231F20;
    padding: 5px 22px;
}

.section-headline {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    color: white;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

.section-headline span {
    background-color: #231F20;
    padding: 5px 22px;
}