<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<body>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>User Account</span></h2>
        </div>
        <div class="col-xs-4"></div>
        <img src="https://playfab.com/assets/img/add-ons/steam/steam.png" alt="" class="image-responsive">
    </div>
    <hr style="position: absolute; height: 6px;width: 100%;background: #333333; z-index: -1; margin-top: -80px">
    <img src="#" alt="" class="image-responsive">
    <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li><a href="#tab-1" data-toggle="tab"><span style="color: #2b669a">Create new Account</span></a></li>
                <li><a href="#tab-2" data-toggle="tab"><span style="color: #2b669a">Log in</span></a></li>
                <li><a href="#tab-3" data-toggle="tab"><span style="color: #2b669a">Forget password</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->
<div th-replace="common/header :: body-bottom-scripts"/>
</body>
</html>